<style>
    @import url('https://fonts.cdnfonts.com/css/century-gothic');
</style>

<!-- <style id="style">
    @import url($font_url);

    :root {
        --primary-color: $primary_color;
        --secondary-color: $secondary_color;
        --line-height: 1.6;
    }

    html {
        width: 210mm;
        height: 200mm;
        font-family: 'Century Gothic', sans-serif;

    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
/*         font-family: $font_name, Helvetica, sans-serif;
 */     font-family: 'Century Gothic', sans-serif;
        font-size: $font_size !important;
        zoom: 80%;
    }

    table tr td, table tr, th {
        font-size: $font_size !important;
    }

    @page {
        margin-left: $global_margin;
        margin-right: $global_margin;
        margin-top: 5;
        margin-bottom: 0;
        size: $page_size $page_layout;
    }


    p {
        margin: 0;
        padding: 0;
    }

    #qr-bill {
        width:100% !important;
        box-sizing: border-box;
        border-collapse: collapse;
        color: #000;
    }

    #qr-bill td {
        max-width: none;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .company-logo-container {
        display: inline-block;
    }

    .company-logo {
        max-width: $company_logo_size;
    }

    #company-details {
        display: flex;
        flex-direction: column;
        line-height: var(--line-height);
    }

    #company-details > p:first-child {
        color: var(--primary-color);
    }

    #company-address {
        display: flex;
        flex-direction: column;
        line-height: var(--line-height);
    }

    .entity-label {
        margin-top: 2.5rem;
        text-transform: uppercase;
        padding-left: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    .client-and-entity-wrapper {
/*        display: flex;*/
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
  /*       border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8; */

    }

    #entity-details {
        display:flex;
        text-align: left;
        margin-right: 20px;
        line-height: var(--line-height) !important;
    }

    #entity-details > tr,
    #entity-details th {
        font-weight: normal;
        padding-right: 15px;
        line-height: var(--line-height) !important;
    }

    #client-details {
        display: flex;
        flex-direction: column;
        line-height: var(--line-height);
        padding-right:30px;
    }

    #client-details > :first-child {
        font-weight: bold;
    }

    #shipping-details {
        display: $show_shipping_address;
        flex-direction: column;
        line-height: var(--line-height);
    }
    /////

    [data-ref="table"] {
        margin-top: 1rem;
        margin-bottom: 5px;
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }

    .task-time-details {
        display: block;
        margin-top: 5px;
        color: grey;
    }

    [data-ref="table"] > thead {
        text-align: left;
    }

    [data-ref="table"] > thead > tr > th {
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        border: 0.5px solid #000000;
        color: #FFF;
    }

     .product-table> tbody > tr > td {
        border: 0.25px solid #000000;
        padding: 1rem 1rem;
    }
    [data-element='product_table-product.description-td'], td {
        min-width:100%;
        max-width: 300px;
        overflow-wrap: break-word;
    }
    .product-table > tbody > tr > td:first-child {
        color: var(--primary-color);

    }

    .product-table > thead > tr > th:last-child,
    .product-table > tbody > tr > td:last-child {
        text-align: right;
    }
    .product-table > thead > tr > th:first-child {
        background-color: #18D6CD;
    }
    .product-table > thead > tr > th {
        background-color: #6D147F;

    }

    .product-table > thead > tr > th:last-child {
        padding-right: 1rem;
    }

    .product-table > tbody > tr:nth-child(odd) {
/*         background-color: #f5f5f5;*/
    }
    #table-totals>  thead > tr > th {
        background-color: #ffffff;
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        border: 0.5px solid #000000;
        color: #000000;

    }
    #table-totals> thead > tr > th:last-child {
        background-color: #6D147F;
        color:#ffffff
    }
    #table-totals> tbody > tr > td {
        border: 0.25px solid #000000;
        padding: 1rem 1rem;
    }
    #table-totals {
        width: 500px; /* Set the desired width for the table container */
        float: right; /* Float the container to the right */
    }

    [data-ref="table"] {
        margin-top: 2rem;
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }
    //

    .task-time-details {
        display: block;
        margin-top: 5px;
        color: grey;
    }
    .repeating-footer {
        position: fixed;
        bottom: 0;

    }

    #footer {
        position: fixed;
        bottom: 0;
        border-top: 1px solid #000;
        width: 82%;
        min-height:100px;
        padding-top: 0.5rem;
        margin-top: 40px;
    }
/*
    #footer {
        margin-top: 1rem;
        background-color: #2d2c2a;
        min-width: 100%;
        position: fixed;
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        color: white;
    }

    #footer, #footer-spacer {
        height: 160px;
        padding: 1rem 3rem;
        margin-top: 1rem;
    }



/* q */


 /*    #table-totals
    > *
    [data-element='product-table-balance-due-label'],
    #table-totals
    > *
    [data-element='product-table-balance-due'] {
        font-weight: bold;
    }

    #table-totals
    > *
    [data-element='product-table-balance-due'] {
        color: var(--primary-color);
    }

    #table-totals > * > :last-child {
        text-align: right;
        padding-right: 0.5rem;
    } */

/*     #footer {
        margin-top: 10px;
        margin-left: 1rem;
    } */

    /** Markdown-specific styles. **/
    #product-table h3,
    #task-table h3,
    #delivery-note-table h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    [data-ref="statement-totals"] {
        margin-top: 1rem;
        text-align: right;
        margin-right: .75rem;
        border: 0.25px solid #000000;

    }

    [data-ref*=".line_total-td"] {
        white-space: nowrap;
    }

    /** .repeating-header,
    .repeating-header-space, **/
    .repeating-footer,
    .repeating-footer-space {
        height: 10px;
    }
    .repeating-header {
        position: fixed;
        top: 0;
    }
    .repeating-footer {
        position: fixed;
        bottom: 0;
    }

    [data-element='product_table-product.description-td'], td {
        min-width:100%;
        max-width: 300px;
        overflow-wrap: break-word;
    }

    .stamp {
      transform: rotate(12deg);
        color: #555;
        font-size: 3rem;
        font-weight: 700;
        border: 0.25rem solid #555;
        display: inline-block;
        padding: 0.25rem 1rem;
        text-transform: uppercase;
        border-radius: 1rem;
        font-family: 'Courier';
        mix-blend-mode: multiply;
        z-index:200 !important;
        position:  fixed;
        text-align: center;
        float:right;

    }

    .is-paid {
        color:  #D23;
        border: 1rem double  #D23;
        transform: rotate(-5deg);
        font-size: 6rem;
        font-family: "Open sans", Helvetica, Arial, sans-serif;
        border-radius: 0;
        padding: 0.5rem;
        opacity: 0.2;
        z-index:200 !important;
        position:  fixed;
        display: $show_paid_stamp;
    }

    .project-header {
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        color: #505050;
    }

    .pqrcode {

    }


    #footer {
        position: fixed;
        bottom: 0;
        border-top: 1px solid #000;
        width: 82%;
        min-height:100px;
        padding-top: 0.5rem;
        margin-top: 40px;
    }
    /** Useful snippets, uncomment to enable. **/

    /** Hide company logo **/
    /* .company-logo { display: none } */

    /* Hide company details */
    /* #company-details > * { display: none } */

    /* Hide company address */
    /* #company-address > * { display: none } */

    /* Hide public notes */
    /* [data-ref="total_table-public_notes"] { display: none } */

    /* Hide terms label */
    /* [data-ref="total_table-terms-label"] { display: none } */

    /* Hide totals table */
    /* #table-totals { display: none } */

    /* Hide totals table left side */
    /* #table-totals div:first-child > * { display: none !important } */

    /* Hide totals table right side */
    /* .totals-table-right-side { display: none } */

    /** For more info, please check our docs: https://invoiceninja.github.io **/
    /** To find out selectors on your own: https://invoiceninja.github.io/docs/custom-fields/#snippets **/
</style>
 -->
<style id="style">
    @import url($font_url);

    :root {
        --primary-color: $primary_color;
        --secondary-color: $secondary_color;
        --line-height: 1.6;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: $font_name, Helvetica, sans-serif;
        font-size: $font_size !important;
        zoom: 80%;
        font-family: 'Century Gothic', sans-serif !important;
    }


    table tr td,
    table tr,
    th {
        font-size: $font_size !important;
    }

    html {
        margin: 0;
        padding-top: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        font-family: 'Century Gothic', sans-serif !important;
    }

    @page {
        margin: 0 !important;
        size: $page_size $page_layout;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .company-logo-container {
        display: inline-block;
    }

    .company-logo {
        max-width: $company_logo_size;
    }

    #company-details {
        display: flex;
        flex-direction: column;
        line-height: var(--line-height);
    }

    #company-details>p:first-child {
        color: var(--primary-color);
    }

    #company-address {
        display: flex;
        flex-direction: column;
        line-height: var(--line-height);
    }

    .entity-label {
        margin-top: 2.5rem;
        text-transform: uppercase;
        padding-left: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    .client-and-entity-wrapper {
        /*        display: flex;*/
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*       border-top: 1px solid #d8d8d8;
        border-bottom: 1px solid #d8d8d8; */

    }

    #entity-details {
        display: flex;
        text-align: left;
        margin-right: 20px;
        line-height: var(--line-height) !important;
    }

    #entity-details>tr,
    #entity-details th {
        font-weight: normal;
        padding-right: 15px;
        line-height: var(--line-height) !important;
    }

    #client-details {
        width: 570px;
        line-height: var(--line-height);
    }

    #client-details> :first-child {
        font-weight: bold;
    }

    #shipping-details {
        display: $show_shipping_address;
        flex-direction: column;
        line-height: var(--line-height);
    }

    [data-ref="table"] {
        margin-top: 2rem;
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }

    .task-time-details {
        display: block;
        margin-top: 5px;
        color: grey;
    }

    [data-ref="table"]>thead {
        text-align: center;
    }

    [data-ref="table"]>thead>tr>th {
        padding: 1rem;
        /*background-color: #f5f5f5;*/
    }

    [data-ref="table"]>thead>tr>th:last-child {
        text-align: center;
    }

    [data-ref="table"]>tbody>tr>td {
        /*border-bottom: 1px solid #e6e6e6;*/
        padding: 0.75rem;
    }

    [data-ref="table"]>tbody>tr>td:last-child {
        text-align: center;
    }

    /*     [data-ref="table"] > tbody > tr:nth-child(even) {
        background-color: #f5f5f5;
    } */

    #table-totals>thead>tr>th {
        background-color: #ffffff;
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        border: 0.5px solid #000000;
        color: #000000;

    }

    #table-totals>thead>tr>th:last-child {
        background-color: #6D147F;
        color: #ffffff
    }

    #table-totals>tbody>tr>td {
        border: 0.25px solid #000000;
        padding: 1rem 1rem;
    }

    #table-totals {
        width: 500px;
        /* Set the desired width for the table container */
        float: right;
        /* Float the container to the right */
    }

    [data-ref="total_table-footer"] {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    [data-ref="totals_table-outstanding"] {
        color: var(--primary-color)
    }

    /** Markdown-specific styles. **/
    [data-ref="table"] h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    [data-ref="totals_table-outstanding-label"],
    [data-ref="totals_table-outstanding"] {
        background-color: #e6e6e6;
        color: black;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 7px;
    }

    [data-ref="statement-totals"] {
        margin-top: 1rem;
        text-align: right;
        margin-right: .75rem;
    }

    [data-ref*=".line_total-td"] {
        white-space: nowrap;
    }

    .repeating-footer,
    .repeating-footer-space {
        height: 150px;
    }

    .repeating-header {
        position: fixed;
        top: 0;
    }

    .repeating-footer {
        position: fixed;
        bottom: 0;

    }

    #header {
        position: fixed;
        top: 0;
    }


    [data-element='product_table-product.description-td'],
    td {
        min-width: 100%;
        max-width: 300px;
        overflow-wrap: break-word;
    }

    [data-ref="total_table-public_notes"] {
        font-weight: normal;
    }

    [data-ref="total_table-terms"] {
        font-weight: normal;
    }

    /* [data-ref="shipping_address-label"] {
        display: none;
    } */

    .stamp {
        transform: rotate(12deg);
        color: #555;
        font-size: 3rem;
        font-weight: 700;
        border: 0.25rem solid #555;
        display: inline-block;
        padding: 0.25rem 1rem;
        text-transform: uppercase;
        border-radius: 1rem;
        font-family: 'Courier';
        mix-blend-mode: multiply;
        z-index: 200 !important;
        position: fixed;
        text-align: center;
    }

    .is-paid {
        color: #D23;
        border: 1rem double #D23;
        transform: rotate(-5deg);
        font-size: 6rem;
        font-family: "Open sans", Helvetica, Arial, sans-serif;
        border-radius: 0;
        padding: 0.5rem;
        opacity: 0.2;
        z-index: 200 !important;
        position: fixed;
        display: $show_paid_stamp;
    }

    .project-header {
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        color: #505050;
    }

    .pqrcode {}



    [data-ref="table"] {
        margin-top: 1rem;
        margin-bottom: 5px;
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }



    [data-ref="table"]>thead {
        text-align: center;
    }

    [data-ref="table"]>thead>tr>th {
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        border: 0.5px solid #000000;
        color: #FFF;
    }

    .product-table>tbody>tr>td {
        border: 0.25px solid #000000;
        padding: 1rem 1rem;
    }

    [data-element='product_table-product.description-td'],
    td {
        min-width: 100%;
        max-width: 300px;
        overflow-wrap: break-word;
    }

    .product-table>tbody>tr>td:first-child {
        color: var(--primary-color);

    }


    .product-table>thead>tr>th:first-child {
        background-color: #18D6CD;
    }

    .product-table>thead>tr>th {
        background-color: #6D147F;

    }

    .product-table>thead>tr>th:last-child {
        padding-right: 1rem;
    }

    .product-table>tbody>tr:nth-child(odd) {
        /*         background-color: #f5f5f5;*/
    }

    #table-totals>thead>tr>th {
        background-color: #ffffff;
        font-size: 1.1rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        border: 0.5px solid #000000;
        color: #000000;
    }

    #table-totals>thead>tr>th:last-child {
        background-color: #6D147F;
        color: #ffffff
    }

    #table-totals>tbody>tr>td {
        border: 0.25px solid #000000;
        padding: 1rem 1rem;
    }

    #table-totals {
        width: 500px;
        /* Set the desired width for the table container */
        float: right;
        /* Float the container to the right */
    }

    [data-ref="table"] {
        margin-top: 2rem;
        min-width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }


    #footer {
        position: fixed;
        bottom: 20px;
        width: 82%;
        min-height: 100px;
        padding-top: 0.5rem;
        margin-top: 40px;
    }

    /** delivery table style **/

    .delivery-note-table>tbody>tr>td {
        border: 0.25px solid #000000;
        padding: 1rem 1rem;
    }
    .delivery-note-table>tbody>tr>td:first-child {
        color: var(--primary-color);

    }

    .delivery-note-table>thead>tr>th:first-child {
        background-color: #18D6CD;
    }
    .delivery-note-table>thead>tr>th {
        background-color: #6D147F;

    }
    .delivery-note-table>thead>tr>th:last-child {
        padding-right: 1rem;
    }
    /** Useful snippets, uncomment to enable. **/

    /** Hide company logo **/
    /* .company-logo { display: none } */

    /* Hide company details */
    /* # > * { display: none } */

    /* Hide company address */
    /* #company-address > * { display: none } */

    /* Hide terms label */
    /* [data-ref="total_table-terms-label"] { display: none } */

    /* Hide totals table */
    /* #table-totals { display: none } */

    /* Hide totals table left side */
    /* #table-totals div:first-child > * { display: none !important } */

    /* Hide totals table right side */
    /* .totals-table-right-side { display: none } */

    /** For more info, please check our docs: https://invoiceninja.github.io **/
    /** To find out selectors on your own: https://invoiceninja.github.io/docs/custom-fields/#snippets **/
</style>



<div id="body">
    <table style="min-width: 100% ;page-break-inside: avoid;">
        <thead>
            <tr>
                <td>
                    <div class="repeating-header-space">&nbsp;</div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div id="body">
                        <div style="margin-bottom: 50px;" class="header-container">
                            <div class="company-logo-container">
                                <img class="company-logo" src="$company.logo" alt="$company.name logo">
                            </div>
                            <div id="company-details"></div>
                            <div id="company-address"></div>
                        </div>
                        <!--                <p class="entity-label">$entity_label</p>
      -->
                        <div class="client-and-entity-wrapper">
                            <div>
                                <table id="entity-details" cellspacing="0" cellpadding="0" dir="$dir"></table>

                            </div>
                            <table style="padding-left: 180px; max-width: 500px;" id="client-details"></table>
                            <table style="padding-left: 180px;" id="vendor-details"></table>
                            <div style="margin-left: 180px;" id="shipping-details"></div>
                        </div>
                        <table id="entityDetails_objet"  cellspacing="0" cellpadding="0" dir="$dir"></table>
                        <table id="deliveryNote_top"  cellspacing="0" cellpadding="0" dir="$dir"></table>

                        <table id="product-table" class="product-table" cellspacing="0" data-ref="table"></table>
                        <table id="task-table" cellspacing="0" data-ref="table"></table>
                        <table id="delivery-note-table" class="delivery-note-table" cellspacing="0" data-ref="table"></table>
                        <table id="statement-invoice-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-invoice-table-totals" data-ref="statement-totals"></div>
                        <table id="statement-payment-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-payment-table-totals" data-ref="statement-totals"></div>
                        <table id="statement-credit-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-credit-table-totals" data-ref="statement-totals"></div>
                        <table id="statement-aging-table" cellspacing="0" data-ref="table"></table>
                        <div id="statement-aging-table-totals" cellspacing="0" data-ref="statement-totals"></div>
                        <table id="table-totals" style="margin-top: 10px; margin-bottom: 10px;" cellspacing="0">
                            $status_logo
                        </table>

                    </div>

                </td>


            </tr>
            <tr>
                <td style="">
                    <table id="footer_1" data-ref="footer_1" ></table>
                </td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="footer-spacer repeating-footer-space">&nbsp;
                        <div class="repeating-footer" id="footer">
                        </div>
                </td>
            </tr>
        </tfoot>
    </table>

</div>








<div class="repeating-header" id="header"></div>

$entity_images

<div>


    <p data-ref="total_table-footer">$entity_footer</p>
    <p id="footer" style="font-size: smaller;text-align: center;border-top: 0.5px solid #000;">
        Agence Conseil en Communication & Événementiel Adresse : 21, Avenue Oqba N°7 Agdal Rabat www.perleconseil.ma<br>
        Tél : 05 37 68 20 79 / 08 08 50 52 95 - Fax : 05 37 68 20 74 – Email : aicha.farid@perleconseil.ma <br>
        Société SARL – Patente N°:25765126 - RC N°:75743 – IF N°:3384538 – CNSS N°:8055388 – ICE N°:000048886000054 <br>
        CB: Banque Populaire Rabat -Kenitra - Agence : OMAR IBN ELKHATTAB Compte N°: 1818102121196807910001 38

    </p>
    <script>
        // Clear up space a bit, if [product-table, tasks-table, delivery-note-table] isn't present.
        document.addEventListener('DOMContentLoaded', () => {
            let tables = [
                'product-table', 'task-table', 'delivery-note-table',
                'statement-invoice-table', 'statement-payment-table', 'statement-aging-table-totals',
                'statement-invoice-table-totals', 'statement-payment-table-totals', 'statement-aging-table',
                'client-details', 'vendor-details', 'swiss-qr', 'shipping-details', 'statement-credit-table', 'statement-credit-table-totals',
            ];

            tables.forEach((tableIdentifier) => {
                console.log(document.getElementById(tableIdentifier));

                document.getElementById(tableIdentifier)?.childElementCount === 0
                    ? document.getElementById(tableIdentifier).style.setProperty('display', 'none', 'important')
                    : '';
            });
        });
    </script>


<script>

    let productTable = document.querySelector("#product-table tbody");
    let productRows = productTable.querySelectorAll("tr");

    // loop through each product row
    productRows.forEach(function (row) {
        let itemColumn = row.querySelector("td[data-ref='product_table-product.item-td']");
        let descriptionColumn = row.querySelector("td[data-ref='product_table-product.description-td']");

        // merge the content of item and description columns
        itemColumn.innerHTML = "<p><b>" + itemColumn.textContent + "</b><p/>";
        itemColumn.innerHTML += descriptionColumn.textContent;
        //itemColumn.innerHTML = "<br><strong>" + itemColumn.innerHTML + "</strong>"+"<br>"+descriptionColumn.innerHTML;

        //"<br><b>" += itemColumn.innerHTML + "<b><br>" += descriptionColumn.innerHTML + "</b>";
        // remove the description column
        descriptionColumn.remove();
    });

    // hide the Description header
    let descriptionHeader = document.querySelector("th[data-ref='product_table-product.description-th']");
    descriptionHeader.style.display = "none";

</script>

<script>
    let deliverynoteTable = document.querySelector("#delivery-note-table tbody");
    let deliverynoteTableRows = deliverynoteTable.querySelectorAll("tr");

    // loop through each product row
    deliverynoteTableRows.forEach(function (row) {
        //let itemColumndelivery = row.querySelector("td[data-ref='delivery_note_table.item-td']");
        let itemColumndelivery = row.cells[0];

        let descriptionColumndelivery = row.cells[1];

        // merge the content of item and description columns
        itemColumndelivery.innerHTML = "<p><b>" + itemColumndelivery.textContent + "</b><p/>";
        itemColumndelivery.innerHTML += descriptionColumndelivery.textContent;
        //itemColumn.innerHTML = "<br><strong>" + itemColumn.innerHTML + "</strong>"+"<br>"+descriptionColumn.innerHTML;

        //"<br><b>" += itemColumn.innerHTML + "<b><br>" += descriptionColumn.innerHTML + "</b>";
        // remove the description column
        descriptionColumndelivery.remove();
    });

    // hide the Description header
    //let descriptionHeaderdelivery = document.querySelector("th[data-ref='delivery_note_table.description-th']");
    descriptionHeaderdelivery.style.display = "none";
</script>

</div>



<!-- <div id="footer" style="">
    <div style="width: 100%;">
        <p data-ref="total_table-footer">$entity_footer</p>
        <script>
            // Clear up space a bit, if [product-table, tasks-table, delivery-note-table] isn't present.
            document.addEventListener('DOMContentLoaded', () => {
                let tables = [
                    'product-table', 'task-table', 'delivery-note-table',
                    'statement-invoice-table', 'statement-payment-table', 'statement-aging-table-totals',
                    'statement-invoice-table-totals', 'statement-payment-table-totals', 'statement-aging-table',
                    'client-details', 'vendor-details', 'swiss-qr', 'shipping-details', 'statement-credit-table', 'statement-credit-table-totals',
                ];

                tables.forEach((tableIdentifier) => {
                    console.log(document.getElementById(tableIdentifier));

                    document.getElementById(tableIdentifier)?.childElementCount === 0
                        ? document.getElementById(tableIdentifier).style.setProperty('display', 'none', 'important')
                        : '';
                });
            });
        </script>
    </div>
</div>
 -->
